<div class="container">
    <h1>Actualizar lista de productos</h1>
    <img src="assets/svg/logo.svg" alt="" width="350px">
    <div id="main-container">
        <table>
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Unidad</th>
                    <th>Stock</th>
                    <th>id prov</th>
                    <th>V compra</th>
                    <th>V venta</th>
                    <th>Disponible</th>
                </tr>
            </thead>
            <tr>
                <td>Tomate</td><select name="" id="">
                    <option value="value1">Value 1</option>
                    <option value="value2" selected>Value 2</option>
                    <option value="value3">Value 3</option>
                </select>
                <td>100</td><select name="" id="">
                    <option value="value1">Value 1</option>
                    <option value="value2" selected>Value 2</option>
                    <option value="value3">Value 3</option>
                </select>
                <td>2500</td>
                <td>125000</td>
                <td></td>
            </tr>
            <tr>
                <td>Tomate</td><select name="" id="">
                    <option value="value1">Value 1</option>
                    <option value="value2" selected>Value 2</option>
                    <option value="value3">Value 3</option>
                </select>
                <td>100</td><select name="" id="">
                    <option value="value1">Value 1</option>
                    <option value="value2" selected>Value 2</option>
                    <option value="value3">Value 3</option>
                </select>
                <td>2500</td>
                <td>125000</td>
                <td></td>
            </tr>
            <tr>
                <td>Tomate</td><select name="" id="">
                    <option value="value1">Value 1</option>
                    <option value="value2" selected>Value 2</option>
                    <option value="value3">Value 3</option>
                </select>
                <td>100</td><select name="" id="">
                    <option value="value1">Value 1</option>
                    <option value="value2" selected>Value 2</option>
                    <option value="value3">Value 3</option>
                </select>
                <td>2500</td>
                <td>125000</td>
                <td></td>
            </tr>
            <tr>
                <td>Tomate</td><select name="" id="">
                    <option value="value1">Value 1</option>
                    <option value="value2" selected>Value 2</option>
                    <option value="value3">Value 3</option>
                </select>
                <td>100</td><select name="" id="">
                    <option value="value1">Value 1</option>
                    <option value="value2" selected>Value 2</option>
                    <option value="value3">Value 3</option>
                </select>
                <td>2500</td>
                <td>125000</td>
                <td></td>
            </tr>
        </table>
    </div>
    <hr>

    <h3> Actualizado por:Pepito perez</h3>
    <h3>9:00 AM 23-04-2021</h3>
    <div class="botones">
        <button class="btn-aceptar">Actualizar</button>
        <button routerLink='/main-administrator-window' class="btn-cancelar">Cancelar</button>
    </div>

</div>