<div class="container">
    <img src="assets/svg/logo.svg" alt="" width="500px">

    <div class="buttons">
        <button routerLink='/login-window'>
            <img src="assets/svg/enter.svg" alt="" width="100px">
            <p>Ingresar</p>
        </button>
        <button (click)="notFound()">
            <img src="assets/svg/demo.svg" alt="" width="100px">
            <p>Demo</p>
        </button>
        <button (click)="notFound()">
            <img src="assets/svg/help.svg" alt="" width="100px">
            <p>Ayuda</p>
        </button>
        <button (click)="closeWindow()">
            <img src="assets/svg/exit.svg" alt="" width="100px">
            <p>Salir</p>
        </button>
    </div>
</div>