.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
    margin-top: 50px;
}

.buttons button {
    margin: 20px;
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 5px;
}

.buttons button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}