<div class="container">
    <div>
        <h1>Consultar reportes</h1>
        <img src="assets/svg/logo.svg" alt="" width="350px">
    </div>
    
        <div class="caja1">
            <p>Tipo de transporte</p>
            <select name="" id=""> 
                <option value="value1">Value 1</option>
                <option value="value2" selected>Value 2</option>
                <option value="value3">Value 3</option> 
            </select>
        </div>
        
        <div>
            <p>Fecha de transporte</p>
            <input type="date">
        </div>
   
    <button class="aceptar">Aceptar</button>
    <button routerLink='/main-administrator-window' class="cancelar">Cancelar</button>

    
    
</div>
